// out: css/main.css, sourcemap: true

// COLOR VARIABLES
@logo-purple: darken(purple, 10%);
@logo-mute: desaturate(@logo-purple, 50%);
@logo-purple-light: lighten(@logo-purple, 70%);

// TYPE VARIABLES
@regular: 1em;
@large: @regular * 1.75;
@x-large: @large * 2;
@xx-large: @large * 3;
@fancy-font: font-family: 'Calligraffitti', cursive;
@chalkboard-font: font-family: 'Cabin Sketch', cursive;

body {
  background-color: @logo-mute;
  color: @logo-purple-light;
  font-size: @regular;
  font-family: fantasy;
}


.page-container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  border-top: 15px solid @logo-purple;
  color:white;
  font-size: @x-large;
  font-family: 'Cabin Sketch', cursive;

  + h2 {
    margin-top: -20px;
  }
}

// h1 + h2 {
//   margin-top: -20px;
//
// }

h2 {
  font-size: @large;
  font-family: 'Calligraffitti', cursive;
  + p {
  margin-top: 36px;
  }
}


img {
  float: left;
  width: 30%;
  margin: 20px 20px 20px 0;
}

p {
  img {
    float: right;
    margin-left: 20px;
    margin-right: 0px;
    width: 50%;
  }
}





// BREAKPOINTS
@media screen and (min-width: 550px) {
  body {
    font-size: 2em;
    // background-color: orange;
  }

  // h1 {
  //   font-size: @xx-large;
  // }
  //
  // h2 {
  //   font-size: @x-large;
  // }
  //
  // p {
  //   font-size: @large;
  // }
}
